.cat_card {
  box-sizing: border-box;
  padding: 20px;
  width: 353px;
  min-height: 525px;
  border-radius: 12px;
  background-color: #ffffff;

  &_figure {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
  }

  &_image {
    width: 313px;
    height: 313px;
  }

  &_text {
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

}