.cat-card {
  box-sizing: border-box;
  padding: 20px;
  width: 353px;
  min-height: 525px;
  border-radius: 12px;
  background-color: #ffffff;
}

.cat-card__figure {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.cat-card__image {
  width: 313px;
  height: 313px;
}
