.about {
  padding: 159px 92px 159px 92px;
  position: relative;

  &_wrapper {
    display: flex;
    flex-direction: column;
    width: 597px;

    &::before {
      content: "";
      position: absolute;
      width: 447px;
      height: 321px;
      background-image: url(../../../Assets/about_pic.png);
      background-repeat: no-repeat;
      top: 77px;
      bottom: 0;
      right: 90px;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 446px;
      height: 446px;
      background-image: url(../../../Assets/about_pic_background.png);
      background-repeat: no-repeat;
      left: 744px;
      bottom: 77px;
    }


  }

  &_text {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
  }


  &_subtitle {
    width: 280px;
    height: 24px;
    background-color: #FFEEAD;
    border-radius: 8px;
    margin-bottom: 28px;
    padding: 8px;

  }
}